<div class="text-center">
    <h1 class="text-info">Confirmación</h1>
    <p>Hemos recibido tu consulta, un miembro de nuestro equipo se contactará contigo</p>
    <img src="/imagenes/patio.jpg" width="80%"/>
</div>

